{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Edit your account
{% endblock %}

{% block content %}
    <div class="container-fluid col-md-7">
    <h3 class="text-info shadow p-3 mb-5 bg-white rounded">Edit your account</h3>
    <p><em>you can complete or update your profile here</em></p>
    <form action="." method="post" enctype="multipart/form-data">
        {{ user_form|crispy }}
        {{ profile_form|crispy }}
        {% csrf_token %}
        <p><button class="btn btn-primary" type="submit">Save Changes</button></p>
    </form>
    </div>
{% endblock %}