{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Change your Password{% endblock %}

{% block content %}
    <div class="offset-3">
        <h3 class="text-info offset-2 col-md-5 shadow p-3 mb-5 bg-#34495e rounded">Change your password</h3>
        <p class="offset-2">Use the form below to change your password</p>
        <div class="col-md-9">
        <form action="." method="post">
            {{ form|crispy }}
            <p><button class="btn btn-primary col-md-5 offset-3" type="submit">Change</button></p>
            {% csrf_token %}
        </form>
        </div>
    </div>
{% endblock %}